[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version= '3.6'

[packages]
moban = '>=0.8.1'

[dev-packages]
nose = "*"
mock = "*"
codecov = "*"
coverage = "*"
flake8 = "*"
